<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
    <filter>
	<filter-name>CORSFilter</filter-name>
    <display-name>CORSFilter</display-name>
    <filter-class>marksManager.filters.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>HelloWorld</servlet-name>
  	<display-name>HelloWorld</display-name>
  	<description></description>
  	<servlet-class>marksManager.api.HelloWorld</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>professors</servlet-name>
  	<display-name>ProfessorController</display-name>
  	<description></description>
  	<servlet-class>marksManager.api.ProfessorController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>APIProxy</servlet-name>
  	<display-name>APIProxy</display-name>
  	<description></description>
  	<servlet-class>marksManager.api.APIProxy</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>APIProxy</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
